

 <div class="show">

   Movie Title : <%= @movieshow[0]["movie"]["title"] %>
   <br>
   Released Year: <%= @movieshow[0]["movie"]["year"] %>
   <br>

   <%image = "https://image.tmdb.org/t/p/w500#{ MoviePoster.get_poster_path_cached( @movieshow[0]['movie']['ids']['tmdb'] ) }" %>

   <img src="<%= image %>" class="img-rounded" id="show-img">

   <!--
    <% @links_array.each do |link| %>
    <% @name_array.each do |name| %>
    <a href="https:trakt.tv<%=link%>"><%= name%></a>
    <br>
    <% end %>
    <% end %> -->	

   </div>
