<h2>Top Trending Movies<h2>


<div class="row">

<% @results.each do |movie| %>

<!-- Title:  <%= movie["movie"]["title"]%>
<br>
Year:  <%= movie["movie"]["year"]%>
<br>
No of People watching: <%= movie["watchers"]%>
<hr>

<br> -->
<%= link_to trendingmovie_path(movie["movie"]["ids"]["trakt"]) do %>
<div class="column">
<img src="<%= "https://image.tmdb.org/t/p/w200#{ MoviePoster.get_poster_path_cached( movie['movie']['ids']['tmdb'] ) }" %>">

</div>
<% end %>



<% end %>

</div>
